force-app/main/default/flows/After_Installation_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <environments>Default</environments>
    <interviewLabel>After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After Installation Checklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_After_Checklist</name>
        <label>Create After Checklist</label>
        <locationX>176</locationX>
        <locationY>2186</locationY>
        <assignRecordIdToReference>recordID</assignRecordIdToReference>
        <connector>
            <targetReference>After_Installation_Checklist2nd_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>App_Set_Up__c</field>
            <value>
                <elementReference>Yes_No30</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Battery_Customer_Check__c</field>
            <value>
                <elementReference>Yes_No16</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_House_Smart_Meter__c</field>
            <value>
                <elementReference>Yes_No21</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Check_Solar_APP__c</field>
            <value>
                <elementReference>Yes_No20</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confirm_Support_Info__c</field>
            <value>
                <elementReference>Yes_No31</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Information__c</field>
            <value>
                <elementReference>Yes_No17</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EV_Check__c</field>
            <value>
                <elementReference>Yes_No18</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Handover_to_Client__c</field>
            <value>
                <elementReference>Yes_No29</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Back_up_Check__c</field>
            <value>
                <elementReference>Yes_No19</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Installation_Schematic__c</field>
            <value>
                <elementReference>Yes_No25</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>WorkOrder_Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <object>Installation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Question16</name>
        <label>Get Question16</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question17</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question16</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question16</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
        <queriedFields>Installation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question17</name>
        <label>Get Question17</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question18</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question17</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question17</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question18</name>
        <label>Get Question18</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question19</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question18</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question18</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question19</name>
        <label>Get Question19</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question20</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question19</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question19</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question20</name>
        <label>Get Question20</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question21</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question20</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question20</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question21</name>
        <label>Get Question21</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question22</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question21</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question21</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question22</name>
        <label>Get Question22</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question23</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question22</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question22</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question23</name>
        <label>Get Question23</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question24</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question23</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question23</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question24</name>
        <label>Get Question24</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question25</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question24</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question24</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question25</name>
        <label>Get Question25</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question26</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question25</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question25</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question26</name>
        <label>Get Question26</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question27</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question26</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question26</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question27</name>
        <label>Get Question27</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question28</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question27</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question27</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question28</name>
        <label>Get Question28</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question29</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question28</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question28</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question29</name>
        <label>Get Question29</label>
        <locationX>176</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question30</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question29</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question29</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question30</name>
        <label>Get Question30</label>
        <locationX>176</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question31</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question30</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question30</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question31</name>
        <label>Get Question31</label>
        <locationX>176</locationX>
        <locationY>1754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>After_Installation_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question31</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question31</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Recordtype</name>
        <label>Get Recordtype</label>
        <locationX>176</locationX>
        <locationY>1970</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>After_Installation_Checklist</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordTypeId</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>WorkOrder</name>
        <label>WorkOrder</label>
        <locationX>176</locationX>
        <locationY>2078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_After_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_After_Checklist_Records</name>
        <label>Update After Checklist Records</label>
        <locationX>176</locationX>
        <locationY>2402</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordTypeId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Component_serial_numbers__c</field>
            <value>
                <elementReference>Yes_No26</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Generation_meter__c</field>
            <value>
                <elementReference>Generation_Meter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inverters__c</field>
            <value>
                <elementReference>After_Installation_Inverters</elementReference>
            </value>
        </inputAssignments>
        <object>Installation__c</object>
    </recordUpdates>
    <screens>
        <name>After_Installation_Checklist</name>
        <label>After Installation Checklist</label>
        <locationX>176</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Recordtype</targetReference>
        </connector>
        <fields>
            <name>Question_16</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question16.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No16</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_17</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question17.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No17</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_18</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question18.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No18</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_19</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question19.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No19</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_20</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question20.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No20</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_21</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question21.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No21</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_25</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question25.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No25</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_29</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question29.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No29</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_30</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question30.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No30</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_31</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question31.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No31</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>After_Installation_Checklist2nd_Screen</name>
        <label>After Installation Checklist</label>
        <locationX>176</locationX>
        <locationY>2294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_After_Checklist_Records</targetReference>
        </connector>
        <fields>
            <name>Question_26</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question26.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No26</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>After_Installation_Inverters</name>
            <dataType>String</dataType>
            <fieldText>Inverters</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>After_Installation_Battery</name>
            <dataType>String</dataType>
            <fieldText>Battery</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Generation_Meter</name>
            <dataType>String</dataType>
            <fieldText>Generation Meter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Upload_Images</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Images</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordID</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Question16</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Question16</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question17</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question18</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question19</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question20</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question21</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question22</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question23</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question24</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question25</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question26</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question27</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question28</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question29</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question30</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question31</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>ServiceApppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WorkOrder_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
