force-app/main/default/flows/Before_Installation_Checklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Ladders</name>
        <choiceText>Ladders</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ladders</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Scaffolding</name>
        <choiceText>Scaffolding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Scaffolding</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Before Installation Checklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Before Installation Checklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Before_Checklist</name>
        <label>Create Before Checklist</label>
        <locationX>176</locationX>
        <locationY>2078</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Uploading_files</targetReference>
        </connector>
        <inputAssignments>
            <field>Battery_Installation__c</field>
            <value>
                <elementReference>Yes_No15</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Battery_Location__c</field>
            <value>
                <elementReference>Yes_No14</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bird_Mesh__c</field>
            <value>
                <elementReference>Yes_No9</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNO_Approved__c</field>
            <value>
                <elementReference>Yes_No3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Earthing_Arrangements__c</field>
            <value>
                <elementReference>Yes_No11</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Electrical_Cabling__c</field>
            <value>
                <elementReference>Yes_No12</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inverter__c</field>
            <value>
                <elementReference>Yes_No10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_Matches_Quote__c</field>
            <value>
                <elementReference>Yes_No2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>WorkOrderid.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Panel_Cabling__c</field>
            <value>
                <elementReference>Yes_No8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Railing__c</field>
            <value>
                <elementReference>Yes_No6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roof_Access__c</field>
            <value>
                <elementReference>Yes_No1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roof_Hooks__c</field>
            <value>
                <elementReference>Yes_No5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solar_Panels__c</field>
            <value>
                <elementReference>Yes_No7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Warning_Labelling__c</field>
            <value>
                <elementReference>Yes_No13</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <object>Installation__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Question1</name>
        <label>Get Question1</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question1</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
        <queriedFields>Installation__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question10</name>
        <label>Get Question10</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question11</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question10</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question10</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation_Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question11</name>
        <label>Get Question11</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question12</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question11</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question11</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation_Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question12</name>
        <label>Get Question12</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question13</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question12</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question12</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation_Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question13</name>
        <label>Get Question13</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question14</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question13</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question13</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation_Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question14</name>
        <label>Get Question14</label>
        <locationX>176</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question15</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question14</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question14</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation_Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question15</name>
        <label>Get Question15</label>
        <locationX>176</locationX>
        <locationY>1646</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Installation_Before_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question15</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question15</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation_Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question2</name>
        <label>Get Question2</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question2</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question2</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question3</name>
        <label>Get Question3</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question3</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question3</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
        <queriedFields>Question__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question4</name>
        <label>Get Question4</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question4</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question4</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question5</name>
        <label>Get Question5</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question5</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question5</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation_Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question6</name>
        <label>Get Question6</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question6</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question6</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation_Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question7</name>
        <label>Get Question7</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question7</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question7</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation_Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question8</name>
        <label>Get Question8</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question9</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question8</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question8</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation_Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Question9</name>
        <label>Get Question9</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Question10</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Question9</stringValue>
            </value>
        </filters>
        <object>Installation_Checklist__mdt</object>
        <outputReference>Question9</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Question__c</queriedFields>
        <queriedFields>Installation_Question__c</queriedFields>
        <queriedFields>S_No__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RecordTypeid</name>
        <label>RecordTypeid</label>
        <locationX>176</locationX>
        <locationY>1970</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Before_Checklist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Before_Installation_Checklist</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>RecordType</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>WorkOrder</name>
        <label>WorkOrder</label>
        <locationX>176</locationX>
        <locationY>1862</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordTypeid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrderid</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Installation_Before_Checklist</name>
        <label>Installation Before Checklist</label>
        <locationX>176</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>WorkOrder</targetReference>
        </connector>
        <fields>
            <name>First_Question</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question1.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No1</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Accessing_Method</name>
            <choiceReferences>Scaffolding</choiceReferences>
            <choiceReferences>Ladders</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Question_2</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question2.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No2</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_3</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question3.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No3</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_5</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question5.Installation_Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No5</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_6</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question6.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No6</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_7</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question7.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No7</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_8</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question8.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No8</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_9</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question9.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No9</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_10</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question10.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No10</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_11</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question11.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No11</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_12</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question12.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No12</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_13</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question13.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No13</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_14</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question14.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No14</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Question_15</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;&lt;strong&gt;{!Question15.Question__c}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Yes_No15</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes/No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Uploading_files</name>
        <label>Uploading files</label>
        <locationX>176</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Question_4_Files</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Roof Hooks</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Railing</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Railing</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Solar_Panels</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Solar Panels</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Panel_Cabling</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Panel Cabling</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Inverter</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Inverter</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Electrical_Cabling</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Electrical Cabling</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Warning_Labelling</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Warning Labelling</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Battery_Location</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Battery Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Battery_Installation</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Battery Installation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Question1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Question1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question10</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question11</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question12</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question13</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question14</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question15</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question5</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question6</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question7</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question8</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>Question9</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Installation_Checklist__mdt</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>WorkOrderid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
