force-app/main/default/flows/Convert_Opportunity_Into_Project.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_Pmt_Project</name>
        <label>Check Pmt Project</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PMT_Project.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Creation_Of_Project</name>
        <label>Creation Of Project</label>
        <locationX>440</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsclosedWon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_PMT_Project</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Program</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Program</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>IsclosedWon</label>
        </rules>
        <rules>
            <name>Email_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oppo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Programs</targetReference>
            </connector>
            <label>Email Validation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Convert Opportunity Into Project {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Opportunity Into Project</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PMT_Project</name>
        <label>Create PMT Project</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Annual_Energy_Consumption__c</field>
            <value>
                <elementReference>$Record.Annual_Energy_Consumption__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNO_Name__c</field>
            <value>
                <elementReference>$Record.DNO_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E_mail__c</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPAN__c</field>
            <value>
                <elementReference>$Record.MPAN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Type__c</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technical_Lead__c</field>
            <value>
                <elementReference>$Record.Technical_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Description__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Initial_Start_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Level_of_Effort__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Portfolio__c</field>
            <value>
                <stringValue>F&amp;S</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Program__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Project_Category__c</field>
            <value>
                <elementReference>$Record.Project_Category__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_PMT_Project_for_Existing</name>
        <label>Create PMT Project for Existing</label>
        <locationX>440</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Annual_Energy_Consumption__c</field>
            <value>
                <elementReference>$Record.Annual_Energy_Consumption__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNO_Name__c</field>
            <value>
                <elementReference>$Record.DNO_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPAN__c</field>
            <value>
                <elementReference>$Record.MPAN1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Name__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Type__c</field>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technical_Lead__c</field>
            <value>
                <elementReference>$Record.Technical_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Description__c</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Initial_Start_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Level_of_Effort__c</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Portfolio__c</field>
            <value>
                <stringValue>F&amp;S</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Program__c</field>
            <value>
                <elementReference>Get_Program.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Project_Category__c</field>
            <value>
                <elementReference>$Record.Project_Category__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Program</name>
        <label>Create Program</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_PMT_Project</targetReference>
        </connector>
        <inputAssignments>
            <field>City__c</field>
            <value>
                <elementReference>$Record.Site_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>$Record.Site_Address_Country_Territory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>State_Province__c</field>
            <value>
                <elementReference>$Record.Site_Address_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street__c</field>
            <value>
                <elementReference>$Record.Site_Address_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zip_Postal_Code__c</field>
            <value>
                <elementReference>$Record.Site_Address_ZIP_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Program__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Oppo</name>
        <label>Get Oppo</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PMT_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PMT_Project</name>
        <label>Get PMT Project</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Pmt_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inov8__PMT_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Program</name>
        <label>Get Program</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creation_Of_Project</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inov8__PMT_Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Programs</name>
        <label>Get Program</label>
        <locationX>440</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PMT_Project_for_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Oppo.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>inov8__PMT_Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Oppo</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
