force-app/main/default/flows/File_updated_in_PMT_from_Work_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Multiple_Contect_document_links_to_collection_variable</name>
        <label>Assign Multiple Contect document links to collection variable</label>
        <locationX>481</locationX>
        <locationY>788</locationY>
        <assignmentItems>
            <assignToReference>contentdocumentlinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>contentdocumentlink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PMT_related_Content_document_link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_content_document_id_to_PMT</name>
        <label>Assignment content document id to PMT</label>
        <locationX>486</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>contentdocumentlink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Content_Document_Ids.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentdocumentlink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PMT_Project__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentdocumentlink.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentdocumentlink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Multiple_Contect_document_links_to_collection_variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_PMT_related_content_documents_are_Available</name>
        <label>Is PMT related content documents are Available</label>
        <locationX>613</locationX>
        <locationY>1148</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PMT_related_Content_document_link</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Content_Documents_in_PMT</targetReference>
            </connector>
            <label>is Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>File updated in PMT from Work Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>File updated in PMT from Work Order</label>
    <loops>
        <name>Loop_Content_Document_Ids</name>
        <label>Loop Content Document Ids</label>
        <locationX>460</locationX>
        <locationY>476</locationY>
        <collectionReference>Get_Content_document_link_id</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_content_document_id_to_PMT</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Content_Documents_in_PMT</name>
        <label>Create Content Documents in PMT</label>
        <locationX>692</locationX>
        <locationY>1363</locationY>
        <inputReference>contentdocumentlinks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_document_link_id</name>
        <label>Get Content document link id</label>
        <locationX>673</locationX>
        <locationY>378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Content_Document_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMT_related_Content_document_link</name>
        <label>PMT related Content document link</label>
        <locationX>563</locationX>
        <locationY>932</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_PMT_related_content_documents_are_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contentdocumentlink.LinkedEntityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>543</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Content_document_link_id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>File_Uploaded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PMT_Project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>contentdocumentlink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentdocumentlinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
</Flow>
