force-app/main/default/flows/Flow_to_create_phases_on_PMT_phase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((4 + 
    FLOOR((4 + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <formulas>
        <name>EndDateFive</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((3 + 
    FLOOR((3 + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <formulas>
        <name>EndDateOne</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>EndDateStart10</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((18 + 
    FLOOR((18 + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <formulas>
        <name>EndDateStart16</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((23 + 
    FLOOR((23 + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <formulas>
        <name>EndDateStart20</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((18 + 
    FLOOR((18 + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <formulas>
        <name>EndDateStartOne</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((9 + 
    FLOOR((9 + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <formulas>
        <name>EndDateStrt25</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((23 + 
    FLOOR((23 + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <formulas>
        <name>EndDateTen</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((8 + 
    FLOOR((8 + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <formulas>
        <name>EndDateThirty</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((28 + 
    FLOOR((28 + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <formulas>
        <name>EndDateThree</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((1 + 
    FLOOR((2  + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <formulas>
        <name>StartDate11</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((9 + 
    FLOOR((9 + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <formulas>
        <name>StartDate16</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((14 + 
    FLOOR((14 + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <formulas>
        <name>StartDate20</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((18 + 
    FLOOR((18 + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <formulas>
        <name>StartDate25</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((23 + 
    FLOOR((23 + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <formulas>
        <name>TestDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 
FLOOR((10 + 
    FLOOR((10 + MOD(TODAY() - DATE(1985,6,24),7)) / 5) * 2) + 
    CASE(MOD(TODAY() - DATE(1985,6,24),7), 0, 1, 6, 2, 1))</expression>
    </formulas>
    <interviewLabel>Flow to create phases on PMT phase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow to create phases on PMT phase</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Phase3</name>
        <label>Create Phase3</label>
        <locationX>176</locationX>
        <locationY>5507</locationY>
        <connector>
            <targetReference>Get_3_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase4</name>
        <label>Create Phase4</label>
        <locationX>176</locationX>
        <locationY>6911</locationY>
        <connector>
            <targetReference>Get_4_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Post-Installation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_1</name>
        <label>Create Phase 1</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>PMTPITask1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_2</name>
        <label>Create Phase 2</label>
        <locationX>176</locationX>
        <locationY>4103</locationY>
        <connector>
            <targetReference>PMTTask_2_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Mobilization</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Project__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Phase__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_3</name>
        <label>Create Phase 3.6</label>
        <locationX>176</locationX>
        <locationY>6803</locationY>
        <connector>
            <targetReference>Create_Phase4</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_3_6.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateFive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_3_1</name>
        <label>Create Phase 3.1</label>
        <locationX>176</locationX>
        <locationY>5723</locationY>
        <connector>
            <targetReference>Get_3_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_3_1.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateOne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_3_2</name>
        <label>Create Phase 3.2</label>
        <locationX>176</locationX>
        <locationY>5939</locationY>
        <connector>
            <targetReference>Get_3_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_3_2.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateOne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_3_3</name>
        <label>Create Phase 3.3</label>
        <locationX>176</locationX>
        <locationY>6155</locationY>
        <connector>
            <targetReference>Get_3_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_3_3.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateFive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_3_4</name>
        <label>Create Phase 3.4</label>
        <locationX>176</locationX>
        <locationY>6371</locationY>
        <connector>
            <targetReference>Get_3_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_3_4.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateFive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_3_5</name>
        <label>Create Phase 3.5</label>
        <locationX>176</locationX>
        <locationY>6587</locationY>
        <connector>
            <targetReference>Get_3_6</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_3_5.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateFive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_4_task_1</name>
        <label>Create Phase 4 task 1</label>
        <locationX>176</locationX>
        <locationY>7127</locationY>
        <connector>
            <targetReference>Get_4_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_4_1.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateThree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_4_Task_2</name>
        <label>Create Phase 4 Task 2</label>
        <locationX>176</locationX>
        <locationY>7343</locationY>
        <connector>
            <targetReference>Get_4_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_4_2.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateThree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_4_Task_3</name>
        <label>Create Phase 4 Task 3</label>
        <locationX>176</locationX>
        <locationY>7559</locationY>
        <connector>
            <targetReference>Get_4_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_4_3.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateThree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_4_Task_4</name>
        <label>Create Phase 4 Task 4</label>
        <locationX>176</locationX>
        <locationY>7775</locationY>
        <connector>
            <targetReference>Get_4_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_4_4.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateThree</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_4_task_5</name>
        <label>Create Phase 4 task 5</label>
        <locationX>176</locationX>
        <locationY>7991</locationY>
        <connector>
            <targetReference>Get_4_6</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_4_5.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateFive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_4_Task_6</name>
        <label>Create Phase 4 Task 6</label>
        <locationX>176</locationX>
        <locationY>8207</locationY>
        <connector>
            <targetReference>Get_4_7</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_4_6.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateTen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Phase_4_Task_7</name>
        <label>Create Phase 4 Task 7</label>
        <locationX>176</locationX>
        <locationY>8423</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_4_7.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateTen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_10_task</name>
        <label>Phase 10 task</label>
        <locationX>176</locationX>
        <locationY>2483</locationY>
        <connector>
            <targetReference>PMTTask11</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask10.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateStart16</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>StartDate16</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_11_task</name>
        <label>Phase 11 task</label>
        <locationX>176</locationX>
        <locationY>2699</locationY>
        <connector>
            <targetReference>PMTTask12</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask11.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateStart16</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>StartDate16</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_12_task</name>
        <label>Phase 12 task</label>
        <locationX>176</locationX>
        <locationY>2915</locationY>
        <connector>
            <targetReference>PMTTask13</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask12.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateStart16</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>StartDate16</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_13_task</name>
        <label>Phase 13 task</label>
        <locationX>176</locationX>
        <locationY>3131</locationY>
        <connector>
            <targetReference>PMTTask14</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask13.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateStart16</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>StartDate16</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_14_task</name>
        <label>Phase 14 task</label>
        <locationX>176</locationX>
        <locationY>3347</locationY>
        <connector>
            <targetReference>PMTTask15</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask14.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateStart20</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>StartDate20</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_15_task</name>
        <label>Phase 15 task</label>
        <locationX>176</locationX>
        <locationY>3563</locationY>
        <connector>
            <targetReference>PMTTask16</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask15.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateThirty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_16_task</name>
        <label>Phase 16 task</label>
        <locationX>176</locationX>
        <locationY>3779</locationY>
        <connector>
            <targetReference>PMTTask17</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask16.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateStrt25</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>StartDate25</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_17_task</name>
        <label>Phase 17 task</label>
        <locationX>176</locationX>
        <locationY>3995</locationY>
        <connector>
            <targetReference>Create_Phase_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask17.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateStrt25</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>StartDate25</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_1_task</name>
        <label>Phase 1 task</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>PMTTask2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTPITask1.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateOne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_2_1_Task</name>
        <label>Phase 21 Task</label>
        <locationX>176</locationX>
        <locationY>4319</locationY>
        <connector>
            <targetReference>Copy_1_of_PMTTask_2_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask_2_1.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateFive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_2_2_Task</name>
        <label>Phase 22 Task</label>
        <locationX>176</locationX>
        <locationY>4535</locationY>
        <connector>
            <targetReference>PMTTask_2_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Copy_1_of_PMTTask_2_2.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateFive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_2_3_Task</name>
        <label>Phase 23 Task</label>
        <locationX>176</locationX>
        <locationY>4751</locationY>
        <connector>
            <targetReference>PMTTask_2_4</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask_2_3.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateFive</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_2_4_Task</name>
        <label>Phase 24 Task</label>
        <locationX>176</locationX>
        <locationY>4967</locationY>
        <connector>
            <targetReference>PMTTask_2_5</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask_2_4.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateTen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_2_5_Task</name>
        <label>Phase 25 Task</label>
        <locationX>176</locationX>
        <locationY>5183</locationY>
        <connector>
            <targetReference>PMTTask_2_6</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask_2_5.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateTen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_2_6_Task</name>
        <label>Phase 26 Task</label>
        <locationX>176</locationX>
        <locationY>5399</locationY>
        <connector>
            <targetReference>Create_Phase3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask_2_6.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateStartOne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>StartDate11</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_2_task</name>
        <label>Phase 2 task</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>PMTTask3</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask2.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateThirty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_3_task</name>
        <label>Phase 3 task</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>PMTTask4</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask3.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateTen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_4_task</name>
        <label>Phase 4 task</label>
        <locationX>176</locationX>
        <locationY>1187</locationY>
        <connector>
            <targetReference>PMTTask5</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask4.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateTen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_5_task</name>
        <label>Phase 5 task</label>
        <locationX>176</locationX>
        <locationY>1403</locationY>
        <connector>
            <targetReference>PMTTask6</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask5.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateThirty</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_6_task</name>
        <label>Phase 6 task</label>
        <locationX>176</locationX>
        <locationY>1619</locationY>
        <connector>
            <targetReference>PMtTask7</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask6.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateTen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_7_task</name>
        <label>Phase 7 task</label>
        <locationX>176</locationX>
        <locationY>1835</locationY>
        <connector>
            <targetReference>PMTTask8</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMtTask7.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateStart10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>StartDate11</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_8_task</name>
        <label>Phase 8 task</label>
        <locationX>176</locationX>
        <locationY>2051</locationY>
        <connector>
            <targetReference>PMTTask9</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask8.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateStart10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>StartDate11</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Phase_9_task</name>
        <label>Phase 9 task</label>
        <locationX>176</locationX>
        <locationY>2267</locationY>
        <connector>
            <targetReference>PMTTask10</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PMTTask9.Task_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Due_Date__c</field>
            <value>
                <elementReference>EndDateStart10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Phase__c</field>
            <value>
                <elementReference>Create_Phase_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>inov8__Start_Date__c</field>
            <value>
                <elementReference>StartDate11</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_PMTTask_2_2</name>
        <label>PMTTask 22</label>
        <locationX>176</locationX>
        <locationY>4427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_2_2_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>22.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobilization</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_3_1</name>
        <label>Get 3.1</label>
        <locationX>176</locationX>
        <locationY>5615</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Phase_3_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.1</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_3_2</name>
        <label>Get 3.2</label>
        <locationX>176</locationX>
        <locationY>5831</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Phase_3_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.2</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_3_3</name>
        <label>Get 3.3</label>
        <locationX>176</locationX>
        <locationY>6047</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Phase_3_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.3</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_3_4</name>
        <label>Get 3.4</label>
        <locationX>176</locationX>
        <locationY>6263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Phase_3_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.4</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_3_5</name>
        <label>Get 3.5</label>
        <locationX>176</locationX>
        <locationY>6479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Phase_3_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.5</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_3_6</name>
        <label>Get 3.6</label>
        <locationX>176</locationX>
        <locationY>6695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Phase_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.6</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_4_1</name>
        <label>Get 4.1</label>
        <locationX>176</locationX>
        <locationY>7019</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Phase_4_task_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>4.1</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_4_2</name>
        <label>Get 4.2</label>
        <locationX>176</locationX>
        <locationY>7235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Phase_4_Task_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>4.2</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_4_3</name>
        <label>Get 4.3</label>
        <locationX>176</locationX>
        <locationY>7451</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Phase_4_Task_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>4.3</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_4_4</name>
        <label>Get 4.4</label>
        <locationX>176</locationX>
        <locationY>7667</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Phase_4_Task_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>4.4</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_4_5</name>
        <label>Get 4.5</label>
        <locationX>176</locationX>
        <locationY>7883</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Phase_4_task_5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>45.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_4_6</name>
        <label>Get 4.6</label>
        <locationX>176</locationX>
        <locationY>8099</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Phase_4_Task_6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>46.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_4_7</name>
        <label>Get 4.7</label>
        <locationX>176</locationX>
        <locationY>8315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Phase_4_Task_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>47.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTPITask1</name>
        <label>PMTPITask1</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_1_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask10</name>
        <label>PMTTask10</label>
        <locationX>176</locationX>
        <locationY>2375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_10_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask11</name>
        <label>PMTTask11</label>
        <locationX>176</locationX>
        <locationY>2591</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_11_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask12</name>
        <label>PMTTask12</label>
        <locationX>176</locationX>
        <locationY>2807</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_12_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask13</name>
        <label>PMTTask13</label>
        <locationX>176</locationX>
        <locationY>3023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_13_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask14</name>
        <label>PMTTask14</label>
        <locationX>176</locationX>
        <locationY>3239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_14_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask15</name>
        <label>PMTTask15</label>
        <locationX>176</locationX>
        <locationY>3455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_15_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask16</name>
        <label>PMTTask16</label>
        <locationX>176</locationX>
        <locationY>3671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_16_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>16.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask17</name>
        <label>PMTTask17</label>
        <locationX>176</locationX>
        <locationY>3887</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_17_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>17.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask2</name>
        <label>PMTTask2</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_2_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask3</name>
        <label>PMTTask3</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_3_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask4</name>
        <label>PMTTask4</label>
        <locationX>176</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_4_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask5</name>
        <label>PMTTask5</label>
        <locationX>176</locationX>
        <locationY>1295</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_5_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask6</name>
        <label>PMTTask6</label>
        <locationX>176</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_6_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMtTask7</name>
        <label>PMtTask7</label>
        <locationX>176</locationX>
        <locationY>1727</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_7_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask8</name>
        <label>PMTTask8</label>
        <locationX>176</locationX>
        <locationY>1943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_8_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask9</name>
        <label>PMTTask9</label>
        <locationX>176</locationX>
        <locationY>2159</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_9_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask_2_1</name>
        <label>PMTTask 21</label>
        <locationX>176</locationX>
        <locationY>4211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_2_1_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>21.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobilization</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask_2_3</name>
        <label>PMTTask 23</label>
        <locationX>176</locationX>
        <locationY>4643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_2_3_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>23.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobilization</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask_2_4</name>
        <label>PMTTask 24</label>
        <locationX>176</locationX>
        <locationY>4859</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_2_4_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>24.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobilization</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask_2_5</name>
        <label>PMTTask 25</label>
        <locationX>176</locationX>
        <locationY>5075</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_2_5_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobilization</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PMTTask_2_6</name>
        <label>PMTTask 26</label>
        <locationX>176</locationX>
        <locationY>5291</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Phase_2_6_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Version__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>26.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Phase_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobilization</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PmtTask__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Phase_1</targetReference>
        </connector>
        <object>inov8__PMT_Project__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TodayPlusThirty</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
