force-app/main/default/flows/Follow_up_task_on_Initial_Proposal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Follow_up_task</name>
        <label>Follow up task</label>
        <locationX>560</locationX>
        <locationY>563</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Follow up the Customer</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>FollowUp5BDay</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Is_Null</name>
        <label>Is Null</label>
        <locationX>366</locationX>
        <locationY>449</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_task_related_to_lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_up_task</targetReference>
            </connector>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FollowUp5BDay</name>
        <dataType>Date</dataType>
        <expression>CASE(MOD({!$Record.Initial_Proposal_Date__c} - DATE(1985,6,24),7),
 0, {!$Record.Initial_Proposal_Date__c} + 5,
 1, {!$Record.Initial_Proposal_Date__c} + 5,
 2, {!$Record.Initial_Proposal_Date__c} + 5,
 3, {!$Record.Initial_Proposal_Date__c} + 5,
 4, {!$Record.Initial_Proposal_Date__c}+ 7,
 5, {!$Record.Initial_Proposal_Date__c} + 6,
 {!$Record.Initial_Proposal_Date__c} + 6
)</expression>
    </formulas>
    <interviewLabel>Follow up task on Initial Proposal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Follow up task on Initial Proposal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_task_related_to_lead</name>
        <label>Get task related to lead</label>
        <locationX>555</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>434</locationX>
        <locationY>64</locationY>
        <connector>
            <targetReference>Get_task_related_to_lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Estimate Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>Initial_Proposal_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
