force-app/main/default/flows/Opportunity_BSRTF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>EventCheck</name>
        <label>EventCheck</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>EventAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetEventRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessage</targetReference>
            </connector>
            <label>EventAvailable</label>
        </rules>
    </decisions>
    <decisions>
        <name>TechnicianCheck</name>
        <label>TechnicianCheck</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TechnicianProvided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Technicians__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Technicians__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetEventRecord</targetReference>
            </connector>
            <label>TechnicianProvided</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity BSRTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity BSRTF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetEventRecord</name>
        <label>GetEventRecord</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>EventCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StartDateTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Site_Visit_Start_Date_Time__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDateTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Site_Visit_Start_Date_Time__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Resource__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Technicians__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TechnicianCheck</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
