force-app/main/default/flows/Roof_Survey_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <dynamicChoiceSets>
        <name>AccessPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Access__c</picklistField>
        <picklistObject>Site_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AsbestoseRegisterPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Asbestose_Register_Checked__c</picklistField>
        <picklistObject>Site_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BoardedPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Boarded__c</picklistField>
        <picklistObject>Site_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BuildingTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Building_Type__c</picklistField>
        <picklistObject>Site_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LightingPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lighting__c</picklistField>
        <picklistObject>Site_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProposedFittingPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Proposed_Fitting__c</picklistField>
        <picklistObject>Site_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Roof_Material_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Roof_Material__c</picklistField>
        <picklistObject>Site_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RoofTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Roof_Type__c</picklistField>
        <picklistObject>Site_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StructuralRoofFormPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Structural_Roof_Form_Completed__c</picklistField>
        <picklistObject>Site_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Tile_values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tile__c</picklistField>
        <picklistObject>Site_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Roof Survey Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roof Survey Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Record_On_Site_Survey</name>
        <label>Create Record On Site Survey</label>
        <locationX>664</locationX>
        <locationY>387</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Roof_Photos</targetReference>
        </connector>
        <inputAssignments>
            <field>Access__c</field>
            <value>
                <elementReference>Access</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Asbestose_Register_Checked__c</field>
            <value>
                <elementReference>Asbestose_Register_Checked</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Boarded__c</field>
            <value>
                <elementReference>Boarded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Building_Type__c</field>
            <value>
                <elementReference>Building_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height_of_Eaves__c</field>
            <value>
                <elementReference>Height_of_Eaves</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height_of_Gutter__c</field>
            <value>
                <elementReference>Height_of_Gutter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lighting__c</field>
            <value>
                <elementReference>Lighting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Roof_Survey_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pitch__c</field>
            <value>
                <elementReference>Pitch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Fitting__c</field>
            <value>
                <elementReference>Proposed_Fitting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_cable_entry_route__c</field>
            <value>
                <elementReference>Proposed_Cable_Entry_Route</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123L000000E80CQAS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roof_Material__c</field>
            <value>
                <elementReference>Roof_Material</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Roof_Type__c</field>
            <value>
                <elementReference>Roof_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Structural_Roof_Form_Completed__c</field>
            <value>
                <elementReference>Structural_Roof_Form_Completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tile__c</field>
            <value>
                <elementReference>Tile</elementReference>
            </value>
        </inputAssignments>
        <object>Site_Survey__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>396</locationX>
        <locationY>334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Roof_Survey_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>256</locationX>
        <locationY>345</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Appointment</name>
        <label>Get Service Appointment</label>
        <locationX>245</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>377</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceAppointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Roof_Photos</name>
        <label>Roof Photos</label>
        <locationX>662</locationX>
        <locationY>598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Than_You_Screen</targetReference>
        </connector>
        <fields>
            <name>Roof_External</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Roof External</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>RoofExternal</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Roof_Internal</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Roof Internal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Roof_Material_Close_Up_Image</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Roof Material Close Up Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Roof_Access</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Roof Access</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Roof_Cable_Points</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Roof Cable Points</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Roof_Scaffolding_Area</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Roof Scaffolding Area</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Roof_Survey_Form</name>
        <label>Roof Survey Form</label>
        <locationX>643</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Record_On_Site_Survey</targetReference>
        </connector>
        <fields>
            <name>Roof_Survey_Name</name>
            <dataType>String</dataType>
            <fieldText>Roof Survey Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Roof_Type</name>
            <choiceReferences>RoofTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Roof Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Building_Type</name>
            <choiceReferences>BuildingTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Building Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Roof_Material</name>
            <choiceReferences>Roof_Material_Values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Roof Material</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Tile</name>
            <choiceReferences>Tile_values</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tile</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;If You Select Tile in Roof Material these are mandatory values for Tile.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Asbestose_Register_Checked</name>
            <choiceReferences>AsbestoseRegisterPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asbestose Register Checked</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Proposed_Fitting</name>
            <choiceReferences>ProposedFittingPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Proposed Fitting</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Height_of_Eaves</name>
            <dataType>String</dataType>
            <fieldText>Height of Eaves</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Height_of_Gutter</name>
            <dataType>String</dataType>
            <fieldText>Height of Gutter</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Pitch</name>
            <dataType>String</dataType>
            <fieldText>Pitch</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Access</name>
            <choiceReferences>AccessPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Access</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RoofSpace</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Roof Space&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Boarded</name>
            <choiceReferences>BoardedPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Boarded</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Lighting</name>
            <choiceReferences>LightingPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Lighting</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Structural_Roof_Form_Completed</name>
            <choiceReferences>StructuralRoofFormPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Structural Roof Form Completed</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Proposed_Cable_Entry_Route</name>
            <dataType>String</dataType>
            <fieldText>Proposed Cable Entry Route</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Than_You_Screen</name>
        <label>Than You Screen</label>
        <locationX>354</locationX>
        <locationY>660</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 22px; font-family: serif; color: rgb(0, 0, 0);&quot;&gt;Roof Survey Form Uploaded Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>421</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>RoofExternal</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
