force-app/main/default/flows/Site_Visit_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Dual_Phase</name>
        <choiceText>Dual Phase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Dual Phase</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>RCBO</name>
        <choiceText>RCBO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RCBO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Single_Phase</name>
        <choiceText>Single Phase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Single Phase</stringValue>
        </value>
    </choices>
    <choices>
        <name>Three_Phase</name>
        <choiceText>Three Phase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Three Phase</stringValue>
        </value>
    </choices>
    <choices>
        <name>TN_C_S</name>
        <choiceText>TN-C-S</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TN-C-S</stringValue>
        </value>
    </choices>
    <choices>
        <name>TN_S</name>
        <choiceText>TN-S</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TN-S</stringValue>
        </value>
    </choices>
    <choices>
        <name>TT</name>
        <choiceText>TT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TT</stringValue>
        </value>
    </choices>
    <choices>
        <name>X16mm</name>
        <choiceText>16mm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>16mm</stringValue>
        </value>
    </choices>
    <choices>
        <name>X25mm</name>
        <choiceText>25mm</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>25mm</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>DNOFuse</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DNO_Fuse__c</picklistField>
        <picklistObject>Site_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Prospectvalues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Proposed_Tech_Type__c</picklistField>
        <picklistObject>Site_Survey__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Site Visit Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Site Visit Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Records_in_Site_Visit</name>
        <label>Create Records in Site Visit</label>
        <locationX>781</locationX>
        <locationY>351</locationY>
        <assignRecordIdToReference>recordID</assignRecordIdToReference>
        <connector>
            <targetReference>Site_Visit_Related_Images</targetReference>
        </connector>
        <inputAssignments>
            <field>Consumer_Unit__c</field>
            <value>
                <elementReference>ConsumerUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Name__c</field>
            <value>
                <elementReference>Customer_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNO_Fuse__c</field>
            <value>
                <elementReference>DNO_Fuse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Cable_Run__c</field>
            <value>
                <elementReference>Description_of_Cable_Run</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Earthing_Arrangement__c</field>
            <value>
                <elementReference>Earthing_Arangement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Henley_Blocks__c</field>
            <value>
                <elementReference>Henley_Blocks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoming_Supply__c</field>
            <value>
                <elementReference>Incoming_Supply</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Inspection_Date__c</field>
            <value>
                <elementReference>Last_Inspection_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Length_of_Cable_Run_M__c</field>
            <value>
                <elementReference>Length_Of_Cable_Run_M</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MCB__c</field>
            <value>
                <elementReference>MCB</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_Switch_Rating__c</field>
            <value>
                <elementReference>Main_Switch_Rating</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>Make</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meter_Isolator__c</field>
            <value>
                <elementReference>Meter_Isolator</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meter_Tails__c</field>
            <value>
                <elementReference>Meter_Tails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Site_Survey_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Ways__c</field>
            <value>
                <elementReference>No_Of_Ways</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes1__c</field>
            <value>
                <elementReference>NotesOfConsumerUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OpportunityId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>Phone_Numbers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Proposed_Tech_Type__c</field>
            <value>
                <elementReference>Proposed_Tech_Types</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RCBO__c</field>
            <value>
                <elementReference>RCBO_ConsumerUnit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RCD__c</field>
            <value>
                <elementReference>RCD</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Appointment__c</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address_City__c</field>
            <value>
                <elementReference>Site_Address_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address_Country_Territory__c</field>
            <value>
                <elementReference>Site_Address_Country_Territory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address_State_Province__c</field>
            <value>
                <elementReference>Site_Address_State_Province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address_Street__c</field>
            <value>
                <elementReference>Site_Address_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address_ZIP_Postal_Code__c</field>
            <value>
                <elementReference>Site_Address_ZIP_Postal_Code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Surge__c</field>
            <value>
                <elementReference>Surge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Fixing_Req__c</field>
            <value>
                <elementReference>Type_of_Fixing_Req</elementReference>
            </value>
        </inputAssignments>
        <object>Site_Survey__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>553</locationX>
        <locationY>375</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Site_Visit_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>439</locationX>
        <locationY>423</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WorkOrder.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>OpportunityId</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Site_Address_Street__c</queriedFields>
        <queriedFields>Site_Address_City__c</queriedFields>
        <queriedFields>Site_Address_State_Province__c</queriedFields>
        <queriedFields>Site_Address_ZIP_Postal_Code__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Site_Address_Country_Territory__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Serivce_Appointment</name>
        <label>Get Serivce Appointment</label>
        <locationX>427</locationX>
        <locationY>113</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WorkOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceApointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_WorkOrder</name>
        <label>Get WorkOrder</label>
        <locationX>454</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ServiceApointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <screens>
        <name>Site_Visit_Form</name>
        <label>Site Visit Form</label>
        <locationX>815</locationX>
        <locationY>188</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Records_in_Site_Visit</targetReference>
        </connector>
        <fields>
            <name>Site_Survey_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OpportunityId.Name</elementReference>
            </defaultValue>
            <fieldText>Site Survey Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Customer_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact.Name</elementReference>
            </defaultValue>
            <fieldText>Customer Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone_Numbers</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Contact.MobilePhone</elementReference>
            </defaultValue>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Proposed_Tech_Types</name>
            <choiceReferences>Prospectvalues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Proposed Tech Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <fieldText>Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Site_Address_Street</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OpportunityId.Site_Address_Street__c</elementReference>
            </defaultValue>
            <fieldText>Site Address (Street)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Site_Address_City</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OpportunityId.Site_Address_City__c</elementReference>
            </defaultValue>
            <fieldText>Site Address (City)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Site_Address_State_Province</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OpportunityId.Site_Address_State_Province__c</elementReference>
            </defaultValue>
            <fieldText>Site Address (State/Province)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Site_Address_Country_Territory</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OpportunityId.Site_Address_Country_Territory__c</elementReference>
            </defaultValue>
            <fieldText>Site Address (Country/Territory)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Site_Address_ZIP_Postal_Code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>OpportunityId.Site_Address_ZIP_Postal_Code__c</elementReference>
            </defaultValue>
            <fieldText>Site Address (ZIP/Postal Code)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MainIncoming_Supply</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;em&gt;Main Incoming Supply&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Meter_Tails</name>
            <choiceReferences>X16mm</choiceReferences>
            <choiceReferences>X25mm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Meter Tails</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Incoming_Supply</name>
            <choiceReferences>Single_Phase</choiceReferences>
            <choiceReferences>Dual_Phase</choiceReferences>
            <choiceReferences>Three_Phase</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Incoming Supply</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DNO_Fuse</name>
            <choiceReferences>DNOFuse</choiceReferences>
            <dataType>String</dataType>
            <fieldText>DNO Fuse</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Meter_Isolator</name>
            <dataType>Boolean</dataType>
            <fieldText>Meter Isolator</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Henley_Blocks</name>
            <dataType>Boolean</dataType>
            <fieldText>Henley Blocks</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EarthingArrangement</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;em&gt;Earthing Arrangement&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Earthing_Arangement</name>
            <choiceReferences>TN_S</choiceReferences>
            <choiceReferences>TN_C_S</choiceReferences>
            <choiceReferences>TT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Earthing Arangement</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ConsumerUnit</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;em&gt;Consumer Unit&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>No_Of_Ways</name>
            <dataType>Number</dataType>
            <fieldText>No Of Ways</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Main_Switch_Rating</name>
            <dataType>String</dataType>
            <fieldText>Main Switch Rating</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Make</name>
            <dataType>String</dataType>
            <fieldText>Make</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Model</name>
            <dataType>String</dataType>
            <fieldText>Model</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Inspection_Date</name>
            <dataType>Date</dataType>
            <fieldText>Last Inspection Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NotesOfConsumerUnit</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RCBO_ConsumerUnit</name>
            <dataType>Boolean</dataType>
            <fieldText>RCBO</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Surge</name>
            <dataType>Boolean</dataType>
            <fieldText>Surge</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>MCB</name>
            <dataType>Boolean</dataType>
            <fieldText>MCB</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>RCD</name>
            <dataType>Boolean</dataType>
            <fieldText>RCD</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Cableruns</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;em&gt;Proposed Cable run&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Length_Of_Cable_Run_M</name>
            <dataType>Number</dataType>
            <fieldText>Length Of Cable Run (M)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Type_of_Fixing_Req</name>
            <dataType>String</dataType>
            <fieldText>Type of Fixing Req.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description_of_Cable_Run</name>
            <fieldText>Description of Cable Run</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Site_Visit_Related_Images</name>
        <label>Site Visit Related Images</label>
        <locationX>794</locationX>
        <locationY>503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <fields>
            <name>MainIncomeSupply</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;em&gt;Main Income Supply&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Image_Of_Incomer</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Image Of Incomer</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>ImageOfIncomer</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ImageOfIncomer</assignToReference>
                <name>fileNames</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Henley_Block_Image</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Henley Block Image</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ConsumerUnitImages</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;em&gt;Consumer Unit&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Consumer_Unit_Font</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Consumer Unit Font</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ProposedEquipmentLocationImage</name>
            <fieldText>&lt;h3&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;em&gt;Proposed Equipment Location&lt;/em&gt;&lt;/strong&gt;&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Images_of_Proposed_Equipment_Location</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Images of Proposed Equipment Location</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CableRunImage</name>
            <fieldText>&lt;h3&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;em&gt;Proposed Cable Run(s)&lt;/em&gt;&lt;/strong&gt;&lt;/h3&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Images_of_Cable_Routing_Font</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Images of Cable Routing Font</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>638</locationX>
        <locationY>616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Successscreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 22px; font-family: serif;&quot;&gt;Site Visit Form Uploaded Successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>538</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Serivce_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConsumerunitFilename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Consumer Unit Image</stringValue>
        </value>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImageOfIncomer</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImageOfIncomerFileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Image Of Incomer</stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>ServiceApointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>ServiceAppointmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentRecord</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
