force-app/main/default/flows/UpdateOppoFromLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>AddressCheck</name>
        <label>AddressCheck</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SameAddress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Both_Address_Same__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddressUpdate</targetReference>
            </connector>
            <label>SameAddress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Conversation_Check</name>
        <label>Conversation Check</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>AddressCheck</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOppoID</targetReference>
            </connector>
            <label>Converted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>UpdateOppoFromLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdateOppoFromLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AddressUpdate</name>
        <label>AddressUpdate</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Site_Address_City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address_Country_Territory__c</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address_State_Province__c</field>
            <value>
                <elementReference>$Record.State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address_Street__c</field>
            <value>
                <elementReference>$Record.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address_ZIP_Postal_Code__c</field>
            <value>
                <elementReference>$Record.Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Sales_Region__c</field>
            <value>
                <elementReference>$Record.Sales_Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_post_code__c</field>
            <value>
                <elementReference>$Record.Post_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAccId</name>
        <label>UpdateAccId</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Billing_City__c</field>
            <value>
                <elementReference>$Record.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Country__c</field>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_State_Province__c</field>
            <value>
                <elementReference>$Record.State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Street__c</field>
            <value>
                <elementReference>$Record.Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Billing_Zip_Postal_Code__c</field>
            <value>
                <elementReference>$Record.Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_City__c</field>
            <value>
                <elementReference>$Record.Site_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Country__c</field>
            <value>
                <elementReference>$Record.Site_Address_Country_Territory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_State_Province__c</field>
            <value>
                <elementReference>$Record.Site_Address_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Street__c</field>
            <value>
                <elementReference>$Record.Site_Address_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Zip_Postal_Code__c</field>
            <value>
                <elementReference>$Record.Site_Address_ZIP_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOppoID</name>
        <label>UpdateOppoID</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>UpdateAccId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Annual_Energy_Consumption__c</field>
            <value>
                <elementReference>$Record.Annual_Energy_Consumption__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_pence_per_KWH_electricity_rate__c</field>
            <value>
                <elementReference>$Record.Current_pence_per_KWH_electricity_rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DNO_Name__c</field>
            <value>
                <elementReference>$Record.DNO_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MPAN1__c</field>
            <value>
                <elementReference>$Record.MPAN1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Prioritisation_of_Opportunity__c</field>
            <value>
                <elementReference>$Record.Prioritization_of_Lead__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address_City__c</field>
            <value>
                <elementReference>$Record.Site_Address_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address_Country_Territory__c</field>
            <value>
                <elementReference>$Record.Site_Address_Country_Territory__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address_State_Province__c</field>
            <value>
                <elementReference>$Record.Site_Address_State_Province__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address_Street__c</field>
            <value>
                <elementReference>$Record.Site_Address_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site_Address_ZIP_Postal_Code__c</field>
            <value>
                <elementReference>$Record.Site_Address_ZIP_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>$Record.Identity_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Conversation_Check</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
