force-app/main/default/flows/When_Task_is_complete_Update_Project_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Task_Completion</name>
        <label>Task Completion</label>
        <locationX>4142</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DNOLetterofAuthorityTask</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>016-DNO Letter of Authority Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PMT_Project_Pre_Details</targetReference>
            </connector>
            <label>016-DNO Letter of Authority Task</label>
        </rules>
        <rules>
            <name>X001_Deposit_Invoice_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>001-Deposit Invoice Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deposite_Invoice_task</targetReference>
            </connector>
            <label>001-Deposit Invoice Task</label>
        </rules>
        <rules>
            <name>DNO_Application_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>002-DNO Application Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DNO_Application_Task_Update</targetReference>
            </connector>
            <label>002-DNO Application Task</label>
        </rules>
        <rules>
            <name>Pre_Installation_Electrical_Survey_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>003-Pre-Installation Electrical Survey Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_Installation_Electricatl_Survey</targetReference>
            </connector>
            <label>003-Pre-Installation Electrical Survey Task</label>
        </rules>
        <rules>
            <name>Pre_Installation_Roofing_Survey_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>004-Pre-Installation Roofing Survey Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pre_Installation_Roofing_Survey</targetReference>
            </connector>
            <label>004-Pre-Installation Roofing Survey Task</label>
        </rules>
        <rules>
            <name>Structural_Survey_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005-Structural Survey Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Structural_Survey_Tasks</targetReference>
            </connector>
            <label>005-Structural Survey Task</label>
        </rules>
        <rules>
            <name>Asbestos_Information_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>006-Asbestos Information Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Asbestos_Info_Task</targetReference>
            </connector>
            <label>006-Asbestos Information Task</label>
        </rules>
        <rules>
            <name>Single_Line_Diagram_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>009-Single Line Diagram Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Line_Task</targetReference>
            </connector>
            <label>009-Single Line Diagram Task</label>
        </rules>
        <rules>
            <name>Roof_Layout_String_Design_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>014-Internal Gateway Design Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Internal_Gateway_Design_task</targetReference>
            </connector>
            <label>014-Internal Gateway Design Task</label>
        </rules>
        <rules>
            <name>Kit_List_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>010-Kit List Created Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Kit_List_Tasks</targetReference>
            </connector>
            <label>010-Kit List Created Task</label>
        </rules>
        <rules>
            <name>Site_Steup_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>011-Site Setup Document Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SiteSetup_Tasks</targetReference>
            </connector>
            <label>011-Site Steup Document Task</label>
        </rules>
        <rules>
            <name>CPP_RAMS_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012-CPP/RAMS Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPP_RAMS_Tasks</targetReference>
            </connector>
            <label>012-CPP/RAMS Task</label>
        </rules>
        <rules>
            <name>Safegaurding_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>013-Safegaurding Requirement Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Safegaurd_Task</targetReference>
            </connector>
            <label>013-Safegaurding Requirement Task</label>
        </rules>
        <rules>
            <name>X008_PV_Design_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>008-PV Design Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PV_Design_Task</targetReference>
            </connector>
            <label>008-PV Design Task</label>
        </rules>
        <rules>
            <name>X017_Customer_Permit_to_Works</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>017-Customer Permit to Works</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X017_Customer_Permit_to_Work</targetReference>
            </connector>
            <label>017-Customer Permit to Works</label>
        </rules>
        <rules>
            <name>X015_Customer_Portal_Check_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>015-Customer Portal Check Task</stringValue>
                </rightValue>
            </conditions>
            <label>015-Customer Portal Check Task</label>
        </rules>
        <rules>
            <name>AC_Design_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>007-AC Design Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AC_Design_Tasks</targetReference>
            </connector>
            <label>007-AC Design Task</label>
        </rules>
        <rules>
            <name>Scaffold_task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>103-Scaffold Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Scaffold_tasks</targetReference>
            </connector>
            <label>103-Scaffold Task</label>
        </rules>
        <rules>
            <name>Solar_Equipment_Ordered_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>101-Solar PV Equipment Ordered Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PMT_Project_Pre_Details_solar</targetReference>
            </connector>
            <label>101-Solar Equipment Ordered Task</label>
        </rules>
        <rules>
            <name>AC_Equipment_Ordered_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>102-AC Equipment Ordered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PMT_Project_Pre_Details_AC</targetReference>
            </connector>
            <label>102-AC Equipment Ordered</label>
        </rules>
        <rules>
            <name>Labour_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>104-Labour Task</stringValue>
                </rightValue>
            </conditions>
            <label>104-Labour Task</label>
        </rules>
        <rules>
            <name>Transport_and_Accomodation_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>105-Transport &amp; Accomodation Task</stringValue>
                </rightValue>
            </conditions>
            <label>105-Transport &amp; Accomodation Task</label>
        </rules>
        <rules>
            <name>X106_Customer_Update_On_Project_Timelines_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>106-Customer Update On Project Timelines Task</stringValue>
                </rightValue>
            </conditions>
            <label>106-Customer Update On Project Timelines Task</label>
        </rules>
        <rules>
            <name>Pre_Works_Checklist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>201-Pre Works Checklist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Pre_Works_Checklist</targetReference>
            </connector>
            <label>201-Pre Works Checklist</label>
        </rules>
        <rules>
            <name>Site_Induction</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>202-Site Induction</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Site_Induction</targetReference>
            </connector>
            <label>202-Site Induction</label>
        </rules>
        <rules>
            <name>Internal_Sign_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>205-Internal Sign-off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Internal_Sign_Off</targetReference>
            </connector>
            <label>205-Internal Sign-off</label>
        </rules>
        <rules>
            <name>Customer_Sign_Off</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>206-Customer Sign-Off</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_Sign_Off</targetReference>
            </connector>
            <label>206-Customer Sign-Off</label>
        </rules>
        <rules>
            <name>Final_Invoicing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>304-Final Invoicing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Final_Invoicing</targetReference>
            </connector>
            <label>304-Final Invoicing</label>
        </rules>
        <rules>
            <name>Project_Review_Meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>307-Project Review &amp; Customer Feedback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Project_Review_Meeting</targetReference>
            </connector>
            <label>307-Project Review &amp; Customer Feedback</label>
        </rules>
        <rules>
            <name>Book_Service_Visit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>305-Book Service Visit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Book_Service_Visit</targetReference>
            </connector>
            <label>305-Book Service Visit</label>
        </rules>
        <rules>
            <name>X301_Electrical_Certification_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>301-Electrical Certification Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X301_Electrical_Certification_Tasks</targetReference>
            </connector>
            <label>301-Electrical Certification Task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>When Task is complete Update Project Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>When Task is complete Update Project Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>AC_Design_Tasks</name>
        <label>AC Design Task</label>
        <locationX>4274</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AC_Design_Received_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Asbestos_Info_Task</name>
        <label>Asbestos Info Task</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asbestos_Register_Survey__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>CPP_RAMS_Tasks</name>
        <label>CPP/RAMS Tasks</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPP_RAMS_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Deposite_Invoice_task</name>
        <label>Deposite Invoice task</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Deposit_Paid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>DNO_Application_Task_Update</name>
        <label>DNO Application Task Update</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DNO_Application_Submitted_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Internal_Gateway_Design_task</name>
        <label>Internal Gateway Design task</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Internal_Gateway_Design_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Kit_List_Tasks</name>
        <label>Kit List Tasks</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Kit_List_AC_Roof_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Pre_Installation_Electricatl_Survey</name>
        <label>Pre-Installation Electricatl Survey</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pre_installation_Electrical_Survey_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Pre_Installation_Roofing_Survey</name>
        <label>Pre-Installation Roofing Survey</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pre_Installation_Roofing_Survey_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>PV_Design_Task</name>
        <label>PV Design Task</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PV_Desing_Task__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Safegaurd_Task</name>
        <label>Safegaurd Task</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Safeguarding_Requirement__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Scaffold_tasks</name>
        <label>Scaffold task</label>
        <locationX>4538</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobilization</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Scaffold_Installation_Organised_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scaffold_Installation_Organised__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Single_Line_Task</name>
        <label>Single Line Task</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SLD_Received_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>SiteSetup_Tasks</name>
        <label>SiteSetup Tasks</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Site_Setup_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Structural_Survey_Tasks</name>
        <label>Structural Survey Task</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Structural_Survey_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Book_Service_Visit</name>
        <label>Update Book Service Visit</label>
        <locationX>7706</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Date_Booked_In__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Customer_Sign_Off</name>
        <label>Update Customer Sign-Off</label>
        <locationX>6914</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>External_Sign_Off_Checklist_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Final_Invoicing</name>
        <label>Update Final Invoicing</label>
        <locationX>7178</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Final_Invoice_raised_by_Accounts__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Internal_Sign_Off</name>
        <label>Update Internal Sign-Off</label>
        <locationX>6650</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Internal_Sign_off_Checklist_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PMT_Project_Pre_Details</name>
        <label>Update PMT Project Pre Details</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DNO_LOA_Received_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PMT_Project_Pre_Details_AC</name>
        <label>Update PMT Project Pre Details- AC</label>
        <locationX>5066</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobilization</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AC_Equipment_Ordered_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PMT_Project_Pre_Details_solar</name>
        <label>Update PMT Project Pre Details- solar</label>
        <locationX>4802</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Mobilization</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Solar_PV_Equipment_Ordered_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Pre_Works_Checklist</name>
        <label>Update Pre Works Checklist</label>
        <locationX>6122</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pre_Works_Checklist_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Review_Meeting</name>
        <label>Update Project Review Meeting</label>
        <locationX>7442</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Project_Review_Meeting_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Review_Meeting__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Site_Induction</name>
        <label>Update Site Induction</label>
        <locationX>6386</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Site_Induction_Completed_Date__c</field>
            <value>
                <elementReference>$Record.Date_Of_Completion__c</elementReference>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>X017_Customer_Permit_to_Work</name>
        <label>017-Customer Permit to Works</label>
        <locationX>3746</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Permit_To_Works__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>X301_Electrical_Certification_Tasks</name>
        <label>301-Electrical Certification Task</label>
        <locationX>7970</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Project_Phase__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Post-Installation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.inov8__Project_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Electrical_Certification__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>inov8__PMT_Project__c</object>
    </recordUpdates>
    <start>
        <locationX>4016</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Task_Completion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>inov8__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>inov8__PMT_Task__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
